html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    
    margin 0;
}

h3 {
  font-size:1.5rem;
}


.width100 {
  width:100%;
}

.marginZero {
    margin: 0;
}

.viewheight {
    height: 100vh;
}

.paddingZero {
  padding: 0;
}

.hide {
  display:none;
}

.search-li {
  cursor: pointer;
 }

.search-li:hover {
  background-color:#ececec
 }

  @media only screen and (max-width: 767px) {
  .viewheight {
    height: auto;
}
 }



